* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("sfondo.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cornflowerblue;
    text-align: center;
}

header {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    line-height: 31px;
}