@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("sfondo.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cornflowerblue;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER STYLE */

header {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#title-container {
    display: flex;
    text-align: center;
    justify-content: center;
    
}

h1 {
    border-radius: 10px;
    margin: 12px 10px;
    color: white;
    text-shadow: 1px 1px black;
}

.pink {
    color: pink;
}

span {
    color: rgb(35, 32, 32);
}

.logo {
   width: 35px;
   margin: 14px 6px;
}

h4 {
    color: white;
    font-size: medium;
    font-style: oblique;
    text-shadow: 1px 1px black;
}

h2 {
    margin-bottom: 20px;
    line-height: 31px;
    color: white;
    font-style: italic;
    text-shadow: 1px 1px black;
    font-size: 24px;
}

/* SELECTOR STYLE */

#citySelector {
    border-radius: 4px;
    background-color: transparent 80%;
    margin-bottom: 60px; 
}

/* CARD STYLE */

.container {
    display: flex;
    justify-content: center;
}

#weatherCard {
    box-sizing: border-box;
    width:200px;
    height: 300px, auto;
    display: flex;
    border-radius: 5px;
    border-color: lightskyblue;
    border-style:double; 
    box-shadow: 1px 1px rgb(44, 99, 133);
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column; 
    background: antiquewhite; 
    opacity: 90%;
    backdrop-filter: blur(20px); 
}

.icon {
    width: 40%;
    margin: 10px 10px;
    opacity: 90%;
}