@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ADAPTIVE BG*/

html {
    background: url(./sfondo.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

body {
    display: flex;
    flex-direction: column;
    margin: auto, auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER STYLE */

header {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

#title-container {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    
}

h1 {
    margin: 12px;
    color: white;
    text-shadow: 1px 1px black;
}

.pink {
    color: pink;
}

span {
    color: rgb(35, 32, 32);
}

.logo {
   width: 35px;
   margin: 14px 6px;
}

h4 {
    color: white;
    font-size: medium;
    font-style: oblique;
    text-shadow: 1px 1px black;
}

h2 {
    margin-bottom: 20px;
    line-height: 31px;
    color: white;
    font-style: italic;
    text-shadow: 1px 1px black;
    font-size: 24px;
}

/* SELECTOR STYLE */

#citySelector {
    border-radius: 4px;
    background-color: transparent 80%;
    margin-bottom: 60px; 
}

/* CARD STYLE */

.container {
    display: flex;
    justify-content: center;
}

#weatherCard {
    box-sizing: border-box;
    width:200px;
    height: 300px, auto;
    display: flex;
    border-radius: 5px;
    border-color: lightskyblue;
    border-style:double; 
    box-shadow: 1px 1px rgb(44, 99, 133);
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column; 
    background: azure; 
    opacity: 90%;
    backdrop-filter: blur(20px); 
}

.icon {
    width: 40%;
    margin: 10px 10px;
    opacity: 90%;
}

#temperature {
    font-size: 40px;
    color: rgb(223, 114, 84);
    border: 0.1em;
    background-color: rgb(233, 240, 240);
    border-radius: 10px;
    border-color: lightskyblue;
    padding: auto;
    margin: auto;
}

.error {
    margin-top: 20px;
    font-size: larger;
    color: red;
    font-family:'Franklin Gothic Medium';
}


/*FONT MODIFIERS*/

.fontItalic {
    margin-top: 6px;
    font-style:italic;
    
}